In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\s_sad\Downloads\learningSet.csv")

C:\Users\s_sad\AppData\Local\Temp\ipykernel_8352\1092802850.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\s_sad\Downloads\learningSet.csv")

In [3]:
df.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 481 entries, ODATEDW to GEOCODE2
dtypes: float64(97), int64(310), object(74)
memory usage: 350.1+ MB

In [5]:
categorical = df.select_dtypes(include=np.object)

C:\Users\s_sad\AppData\Local\Temp\ipykernel_8352\751342755.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical = df.select_dtypes(include=np.object)

In [6]:
categorical

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

### Ex. Check for null values in all the categorical columns

In [7]:
for col in categorical:
    print(categorical[col], categorical[col].isna().any())

0        GRI
1        BOA
2        AMH
3        BRY
4
        ...
95407    ASE
95408    DCD
95409    MBC
95410    PRV
95411    MCC
Name: OSOURCE, Length: 95412, dtype: object False
0        IL
1        CA
2        NC
3        CA
4        FL
         ..
95407    AK
95408    TX
95409    MI
95410    CA
95411    NC
Name: STATE, Length: 95412, dtype: object False
0        61081
1        91326
2        27017
3        95953
4        33176
         ...
95407    99504
95408    77379
95409    48910
95410    91320
95411    28409
Name: ZIP, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: MAILCODE, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: PVASTATE, Length: 95412, dtype: object False
0        0
1        0
2        0
3        0
4        0
        ..
95407    0
95408    0
95409    0
95410    0
95411    0
Name: NOEXCH, Length: 95412, dtype: object False
0
1
2
3
4        X
        ..
95407
95408
95409
95410    X
95411    X
Name: RECINHSE, Length: 95412, dtype: object False
0
1
2
3
4        X
        ..
95407
95408
95409    X
95410
95411
Name: RECP3, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411    X
Name: RECPGVG, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: RECSWEEP, Length: 95412, dtype: object False
0        XXXX
1        XXXX
2        XXXX
3        XXXX
4        XXXX
         ...
95407    XXXX
95408    XXXX
95409    XXXX
95410    XXXX
95411    C1CM
Name: MDMAUD, Length: 95412, dtype: object False
0        T2
1        S1
2        R2
3        R2
4        S2
         ..
95407    C2
95408    C1
95409    C3
95410    C1
95411    C1
Name: DOMAIN, Length: 95412, dtype: object False
0        36
1        14
2        43
3        44
4        16
         ..
95407    27
95408    24
95409    30
95410    24
95411    24
Name: CLUSTER, Length: 95412, dtype: object False
0
1        E
2
3        E
4        E
        ..
95407
95408    E
95409
95410    E
95411    E
Name: AGEFLAG, Length: 95412, dtype: object False
0
1        H
2        U
3        U
4        H
        ..
95407
95408    H
95409
95410    H
95411    U
Name: HOMEOWNR, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: CHILD03, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: CHILD07, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: CHILD12, Length: 95412, dtype: object False
0
1        M
2
3
4
        ..
95407
95408    M
95409
95410
95411
Name: CHILD18, Length: 95412, dtype: object False
0        F
1        M
2        M
3        F
4        F
        ..
95407    M
95408    M
95409    M
95410    F
95411    F
Name: GENDER, Length: 95412, dtype: object False
0
1        3
2        3
3        3
4        3
        ..
95407
95408    3
95409
95410    2
95411    3
Name: DATASRCE, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: SOLP3, Length: 95412, dtype: object False
0
1
2
3
4        12
         ..
95407
95408
95409
95410    12
95411    12
Name: SOLIH, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411    X
Name: MAJOR, Length: 95412, dtype: object False
0
1        2
2
3
4
        ..
95407
95408
95409
95410    4
95411    3
Name: GEOCODE, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: COLLECT1, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: VETERANS, Length: 95412, dtype: object False
0
1
2
3
4        Y
        ..
95407
95408
95409
95410
95411
Name: BIBLE, Length: 95412, dtype: object False
0
1
2
3
4        Y
        ..
95407
95408
95409
95410
95411
Name: CATLG, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: HOMEE, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: PETS, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: CDPLAY, Length: 95412, dtype: object False
0
1
2
3
4        Y
        ..
95407
95408
95409
95410
95411
Name: STEREO, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: PCOWNERS, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: PHOTO, Length: 95412, dtype: object False
0
1
2
3
4        Y
        ..
95407
95408
95409
95410
95411
Name: CRAFTS, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: FISHER, Length: 95412, dtype: object False
0
1
2
3
4        Y
        ..
95407
95408
95409
95410
95411
Name: GARDENIN, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: BOATS, Length: 95412, dtype: object False
0
1
2
3
4        Y
        ..
95407
95408
95409
95410
95411
Name: WALKER, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: KIDSTUFF, Length: 95412, dtype: object False
0
1
2
3
4        Y
        ..
95407
95408
95409
95410
95411
Name: CARDS, Length: 95412, dtype: object False
0
1
2
3
4
        ..
95407
95408
95409
95410
95411
Name: PLATES, Length: 95412, dtype: object False
0
1
2
3
4        3
        ..
95407
95408
95409
95410    1
95411
Name: LIFESRC, Length: 95412, dtype: object False
0        X
1
2        X
3        X
4
        ..
95407
95408
95409    X
95410    X
95411    X
Name: PEPSTRFL, Length: 95412, dtype: object False
0        L4E
1        L2G
2        L4E
3        L4E
4        L2F
        ...
95407    L1G
95408    L1F
95409    L3E
95410    L4F
95411    L1G
Name: RFA_2, Length: 95412, dtype: object False
0        S4E
1        A2G
2        S4E
3        S4E
4        A2F
        ...
95407    F1G
95408
95409    S4E
95410    S4F
95411    A1G
Name: RFA_3, Length: 95412, dtype: object False
0        S4E
1        A2G
2        S4E
3        S4E
4        A2F
        ...
95407    F1G
95408
95409    S4E
95410    A3F
95411    A1G
Name: RFA_4, Length: 95412, dtype: object False
0        S4E
1        A2G
2        S4E
3        S4E
4        A2F
        ...
95407
95408
95409    S3E
95410    S4F
95411    A1G
Name: RFA_5, Length: 95412, dtype: object False
0        S4E
1        A2G
2        S4E
3        S4E
4        A1D
        ...
95407    F1G
95408
95409    S3E
95410    S4F
95411    A1G
Name: RFA_6, Length: 95412, dtype: object False
0        S4E
1        A1E
2        S4F
3        S4E
4        I2D
        ...
95407    P1G
95408    P1F
95409
95410    S4F
95411    L3G
Name: RFA_7, Length: 95412, dtype: object False
0        S4E
1        A1E
2        S4F
3        S4E
4        A1E
        ...
95407    P1G
95408    P1F
95409    A2E
95410    S4F
95411    L3G
Name: RFA_8, Length: 95412, dtype: object False
0        S4E
1        A1E
2        S4F
3        S4E
4        A1E
        ...
95407
95408
95409    N3E
95410    S4F
95411    L4G
Name: RFA_9, Length: 95412, dtype: object False
0        S4E
1        A1E
2
3
4        L1D
        ...
95407
95408
95409    N3E
95410    S4F
95411    A1G
Name: RFA_10, Length: 95412, dtype: object False
0        S4E
1        A1E
2        S4F
3        S4E
4        A1E
        ...
95407
95408
95409    N3E
95410    S4F
95411    A1G
Name: RFA_11, Length: 95412, dtype: object False
0        S4E
1        A1E
2        S4F
3        S4E
4        A1E
        ...
95407
95408
95409    N3E
95410    S4F
95411    A1G
Name: RFA_12, Length: 95412, dtype: object False
0        S4E
1
2        S4F
3        S4E
4        L1D
        ...
95407
95408
95409    N3E
95410    S4F
95411    A1G
Name: RFA_13, Length: 95412, dtype: object False

0        S4E
1
2        S4F
3        S4E
4        L3D
        ...
95407
95408
95409    N3E
95410    S4F
95411    A1G
Name: RFA_14, Length: 95412, dtype: object False
0        S4E
1
2        S4F
3        S4E
4
        ...
95407
95408
95409    N2E
95410    S4F
95411    A1G
Name: RFA_15, Length: 95412, dtype: object False
0        S4E
1        L1E
2        S4F
3        S4E
4        L3D
        ...
95407
95408
95409    F1D
95410    S3F
95411    S2G
Name: RFA_16, Length: 95412, dtype: object False
0        S4E
1
2
3        S2D
4        A2D
        ...
95407
95408
95409
95410    S2F
95411    S3G
Name: RFA_17, Length: 95412, dtype: object False
0        S4E
1
2        S4D
3        S2D
4        A2D
        ...
95407
95408
95409    F1D
95410    S2F
95411    S3G
Name: RFA_18, Length: 95412, dtype: object False
0        S4E
1        N1E
2        S4D
3        A1D
4        A3D
        ...
95407
95408
95409
95410    A1F
95411    S4G
Name: RFA_19, Length: 95412, dtype: object False
0        S4E
1        N1E
2
3        A1D
4        A3D
        ...
95407
95408
95409
95410    A1F
95411    S3G
Name: RFA_20, Length: 95412, dtype: object False
0        S4E
1        N1E
2
3        A1D
4        A3D
        ...
95407
95408
95409    P1D
95410    A1F
95411    S3G
Name: RFA_21, Length: 95412, dtype: object False
0        S4E
1        N1E
2        S4D
3        A1D
4        I4E
        ...
95407
95408
95409    P1D
95410    A1F
95411    S3G
Name: RFA_22, Length: 95412, dtype: object False
0        S4E
1
2        S4D
3
4        A3D
        ...
95407
95408
95409
95410    S2F
95411    S3G
Name: RFA_23, Length: 95412, dtype: object False
0        S4E
1        F1E
2        S3D
3
4        A3D
        ...
95407
95408
95409
95410    S3F
95411    S3G
Name: RFA_24, Length: 95412, dtype: object False
0        L
1        L
2        L
3        L
4        L
        ..
95407    L
95408    L
95409    L
95410    L
95411    L
Name: RFA_2R, Length: 95412, dtype: object False
0        E
1        G
2        E
3        E
4        F
        ..
95407    G
95408    F
95409    E
95410    F
95411    G
Name: RFA_2A, Length: 95412, dtype: object False
0        X
1        X
2        X
3        X
4        X
        ..
95407    X
95408    X
95409    X
95410    X
95411    C
Name: MDMAUD_R, Length: 95412, dtype: object False
0        X
1        X
2        X
3        X
4        X
        ..
95407    X
95408    X
95409    X
95410    X
95411    1
Name: MDMAUD_F, Length: 95412, dtype: object False
0        X
1        X
2        X
3        X
4        X
        ..
95407    X
95408    X
95409    X
95410    X
95411    C
Name: MDMAUD_A, Length: 95412, dtype: object False
0        C
1        A
2        C
3        C
4        A
        ..
95407    C
95408    A
95409    B
95410    A
95411    C
Name: GEOCODE2, Length: 95412, dtype: object True

Amoung all the categorical columns, GEOCODE has nan values.

### Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

In [8]:
drop_list = []

### Ex. Identify columns that over 85% missing values

In [9]:
def cols_to_drop(columns, threshhold): # defining function in order to identify null above a certain threshhold
    #Below code gives percentage of null in every column
    null_percentage = df.isnull().sum()/df.shape[0]*100
    # Below code gives list of columns having more than threshhold null
    col_to_drop = null_percentage[null_percentage>threshhold].keys()
    return list(col_to_drop)

In [10]:
drop_list = cols_to_drop(df,85)
drop_list

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23']

In [11]:
# Appending OSOURCE and ZIP CODE in the drop list.
drop_list.append("OSOURCE")
drop_list.append("ZIP")

In [12]:
drop_list

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23',
 'OSOURCE',
 'ZIP']

In [13]:
df = df.drop(drop_list, axis = 1) # removing drop_list from whole dataset

In [14]:
df

,ODATEDW,TCODE,STATE,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,RECPGVG,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,0,IL,,,3712,0,,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,,,5202,0,,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,,,0,0,,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,,,2801,0,,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,,,2001,0,X,X,,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,AK,,,0,0,,,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,1,TX,,,5001,0,,,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,1,MI,,,3801,0,,X,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,0,CA,,,4005,0,X,,,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,2,NC,,,1801,0,X,,X,...,0.0,1,L,1,G,C,1,C,12.0,C

### Ex. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [15]:
df.GENDER.value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [16]:
def clean_GENDER(x):
    if x in [" ", "F"]:
        return "F"
    elif x in ["M"]:
        return "M"
    elif x in ["U","J","C","A"]:
        return "other"
categorical["GENDER"] = df["GENDER"].apply(clean_GENDER)
categorical.GENDER.value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64